@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

$button-distance: func.units(3);

fds-checkbox-group,
.fds-checkbox-group {
    display: block;
    margin-top: func.units(5);

    &:first-child {
        margin-top: 0;
    }

    // Spacing for direct children inside the group.
    &> ::slotted(*)+ ::slotted(fds-checkbox) {
        margin-top: $button-distance;
    }

    &:has(fieldset > fds-error-message:not([hidden])) {

        fds-checkbox,
        .fds-checkbox {

            .form-checkbox+label::before,
            .form-checkbox:checked+label::before,
            .form-checkbox[aria-checked="mixed"]+label::before,
            .form-checkbox.mixed+label::before {
                border-color: func.color(vars.$input-border-color-feedback-error);
                border-width: vars.$input-border-width-feedback;
            }
        }
    }
}