@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;
@use "../placeholder-selectors";

$input-top-bottom-padding-feedback: calc(8px - #{vars.$input-border-width-feedback});
$input-left-right-padding-feedback: calc(16px - #{vars.$input-border-width-feedback});

fds-input-wrapper,
.fds-input-wrapper {
    display: block;
    margin-top: func.units(5);

    &:first-child {
        margin-top: 0;
    }

    .form-label {
        display: inline-block;
        @include mixins.form-label-text;

        &.disabled {
            color: func.color(vars.$input-disabled-text-color);
            font-weight: func.font-weight('medium');
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"] {
        &:disabled {
            background-color: func.color(vars.$input-disabled-background-color);
            border-color: func.color(vars.$input-disabled-border-color);
            color: func.color(vars.$input-disabled-text-color);
            cursor: not-allowed;
        }

        &[readonly] {
            background-color: func.color('gray-100');
            color: func.color(vars.$input-text-color);
            border: func.border('very-low-contrast');
            cursor: default;
        }
    }

    &:has(span.limit-exceeded) {
        .form-input {
            border: vars.$input-border-width-feedback solid func.color(vars.$input-border-color-feedback-error);
            padding: calc(8px - #{vars.$input-border-width-feedback}) calc(16px - #{vars.$input-border-width-feedback});
        }
    }

    .form-input {
        @extend %basic-form-element;
        border: func.border(vars.$input-border);
        color: func.color(vars.$input-text-color);
        font-size: func.font-size(vars.$input-font-size);
        line-height: func.units(vars.$input-line-height, 'rem');
        padding: calc(8px - #{func.border-width(vars.$input-border)}) calc(16px - #{func.border-width(vars.$input-border)});

        &::placeholder {
            color: func.color(vars.$input-placeholder-color);
            font-style: italic;
            opacity: 1;
            font-weight: func.font-weight("normal");
        }

        &+fds-character-limit,
        &+.fds-character-limit {
            margin-top: func.units(2);
        }
    }

    .form-input-wrapper {
        display: flex;

        .form-input {
            -webkit-box-flex: 0;
            flex: 0 1 auto;

            &:focus {
                position: relative;
                z-index: vars.$zindex-focus;
            }
        }

        .form-input-prefix+.form-input,
        &.form-input-wrapper--prefix .form-input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.form-input-wrapper--suffix .form-input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .form-input-prefix,
        .form-input-suffix {
            font-weight: func.font-weight("normal");
            font-size: func.font-size(vars.$input-font-size);
            line-height: func.units(vars.$input-line-height, 'rem');
            box-sizing: border-box;
            display: inline-block;
            min-width: 40px;
            padding: calc(#{func.units(3)} - #{func.border-width(vars.$input-border)}) calc(#{func.units(3)} - #{func.border-width(vars.$input-border)});
            margin-top: func.units(3);
            border: func.border(vars.$input-border);
            background-color: func.color(vars.$input-prefix-suffix-background-color);
            text-align: center;
            white-space: nowrap;
            cursor: default;
            -webkit-box-flex: 0;
            flex: 0 0 auto;

        }

        .form-input-suffix {
            border-left: 0;
            border-top-right-radius: func.border-radius('medium');
            border-bottom-right-radius: func.border-radius('medium');
        }

        .form-input-prefix {
            border-right: 0;
            border-top-left-radius: func.border-radius('medium');
            border-bottom-left-radius: func.border-radius('medium');
        }

        &.disabled {

            .form-input-suffix,
            .form-input-prefix {
                border-color: func.color(vars.$input-disabled-border-color);
                color: func.color(vars.$input-disabled-text-color);
            }
        }

        &.readonly {

            .form-input-suffix,
            .form-input-prefix {
                border-color: func.color('gray-200');
            }
        }
    }

    &:has(fds-error-message:not([hidden])),
    &:has(.fds-error-message:not([hidden])) {
        &>.form-input,
        &>.form-input-wrapper>.form-input {
            border: vars.$input-border-width-feedback solid func.color(vars.$input-border-color-feedback-error);
            padding: $input-top-bottom-padding-feedback $input-left-right-padding-feedback;
        }
    }
}