@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

$checkbox-radio-size: func.units(vars.$input-checkbox-radio-size);
$label-distance: func.units(vars.$input-checkbox-radio-label-distance);
$checkmark-size: func.units(vars.$input-checkbox-checkmark-size);
$expand-hit-area: func.units(2);
$button-distance: func.units(3);
$content-border-width: func.units(2);
$-checkbox-radio-margin-top: calc((func.units(vars.$input-checkbox-radio-size, 'rem') / 2) - ($checkbox-radio-size / 2) + $expand-hit-area); // Ensure correct placement of input on text zoom
$-checkbox-radio-content-margin-top: func.units(2);

fds-checkbox,
.fds-checkbox {
    display: block;
    margin-top: func.units(3);
    position: relative; // Needed for the nested input buttons using absolute position

    &:has(> fds-error-message:not([hidden]), > .form-group-checkbox ~ fds-error-message:not([hidden])),
    &:has(> .fds-error-message:not([hidden]),
        >.form-group-checkbox~.fds-error-message) {
        border-left: vars.$form-group-error-border-width solid func.color(vars.$form-group-error-border-color);
        padding-left: calc(#{func.units(4)} - 4px);
    }

    fds-help-text {
        padding-left: calc($checkbox-radio-size + $label-distance);
        margin-top: -$expand-hit-area;
    }

    // Checkbox label/text
    .form-checkbox+label {
        cursor: pointer;
        font-weight: func.font-weight(vars.$input-checkbox-radio-label-font-weight);
        line-height: func.units(vars.$input-checkbox-radio-size, 'rem');
        display: inline-block;
        outline: none;
        color: func.color(vars.$input-checkbox-radio-label-color);
        padding-left: calc($checkbox-radio-size + $label-distance);
        padding-top: $expand-hit-area;
        padding-bottom: $expand-hit-area;
    }

    .form-checkbox+label+.tooltip-wrapper {
        margin-top: $expand-hit-area;
        margin-bottom: $expand-hit-area;
        margin-left: func.units(1);
    }

    // Unchecked checkbox button
    .form-checkbox+label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        display: inherit;
        background-color: func.color(vars.$input-checkbox-radio-unchecked-background-color);
        border: 2px solid func.color(vars.$input-checkbox-radio-unchecked-border-color);
        margin-right: $label-distance;
        height: $checkbox-radio-size;
        width: $checkbox-radio-size;
        margin-top: calc((func.units(vars.$input-checkbox-radio-size, 'rem') / 2) - ($checkbox-radio-size / 2) + $expand-hit-area); // Ensure correct placement of input on text zoom
        border-radius: func.border-radius('small');
    }

    // Checked checkbox
    .form-checkbox:checked+label::before,
    .form-checkbox[aria-checked="mixed"]+label::before,
    .form-checkbox.mixed+label::before {
        background-color: func.color(vars.$input-checkbox-checked-background-color);
        border: 2px solid func.color(vars.$input-checkbox-checked-border-color);
        background-size: $checkmark-size;
        background-repeat: no-repeat;
        background-position: center;
    }

    // 'Normal' checkbox checkmark
    .form-checkbox:checked+label::before {
        background-image: url(vars.$icons-folder-path + vars.$input-checkbox-checked-image + '.svg');
    }

    // 'Mixed' checkbox checkmark
    .form-checkbox[aria-checked="mixed"]+label::before,
    .form-checkbox.mixed+label::before {
        background-image: url(vars.$icons-folder-path + vars.$input-checkbox-mixed-image + '.svg');
    }

    // Focus
    .form-checkbox:focus+label::before,
    .form-checkbox.focus+label::before {
        @include mixins.focus;
    }

    //Expandable content
    .checkbox-content {
        margin-left: calc(($checkbox-radio-size + $content-border-width) / 2);
        padding-left: calc(($checkbox-radio-size + (2 * $label-distance) - $content-border-width) / 2);
        padding-top: func.units(4);
        margin-top: $-checkbox-radio-content-margin-top;
        margin-bottom: func.units(305);
        padding-bottom: func.units(505);

        &[aria-hidden="true"] {
            display: none;
        }
    }

    $-content-wrapper-top-offset: calc($-checkbox-radio-margin-top + $checkbox-radio-size + $expand-hit-area + $-checkbox-radio-content-margin-top);

    &:has(.checkbox-content) {
        margin-top: $button-distance;
        position: relative;

        &:has(.checkbox-content[aria-hidden="false"]) {
            &::before {
                content: '';
                position: absolute;
                display: block;
                border-left: $content-border-width solid func.color(vars.$input-checkbox-radio-content-border-color);
                height: calc(100% - $-content-wrapper-top-offset);
                left: calc(($checkbox-radio-size - $content-border-width) / 2);
                top: $-content-wrapper-top-offset;
            }
        }
    }

    // Special styling when radio/checkboxes are used to select table rows
    .table--selectable th:first-child,
    .table--selectable td:first-child {
        fds-checkbox {
            margin-top: 0;
            width: $checkbox-radio-size;
            height: $checkbox-radio-size;

            .form-checkbox {
                margin-top: 0;

                &+label {
                    padding-left: 0;

                    &::before {
                        margin-right: 0;
                        margin-top: calc((func.units(vars.$input-checkbox-radio-size, 'rem') / 2) - ($checkbox-radio-size / 2)); // Ensure correct placement of input on text zoom
                    }

                    &::after {
                        margin-top: calc((func.units(vars.$input-checkbox-radio-size, 'rem') / 2) - ($checkbox-radio-size / 2)); // Ensure correct placement of input on text zoom
                    }
                }
            }
        }
    }
}