@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

fds-error-message,
.fds-error-message {
    @include mixins.body-copy-text;
    display: block;
    color: func.color('error');
    margin-top: func.units(2);
    max-width: vars.$typography-text-max-width;

    .icon-svg.alert-icon {
        margin-right: func.units(3);
        vertical-align: bottom;
    }

    //Hidden errors
    &[aria-hidden="true"] {
        display: none;
    }
}