{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/tooltip/tooltip.njk" import tooltip as tooltip %}

{% macro languageSwitcher(params) %}
<div class="language-switcher">
    <div class="container">
        <ul aria-label="{{ params.ariaLabel | default('Vælg sprog') }}">
            {%- for language in params.languages -%}
            {%- set firstAriaCurrent = "" -%}
            {%- set icon = "" -%}
            {%- set class = "" -%}
            {%- set tooltipID = ["language-tooltip", "-", loop.index] | join -%}
            {%- if language.tooltip -%}
                {% set class = ' class="tooltip-target"' %}
            {%- endif -%}
            {%- if loop.first -%}
                {%- set firstAriaCurrent = "aria-current='true'" -%}
                {%- set icon = '<svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#check"></use></svg>' -%}
            {%- endif -%}
            {%- set target = ['<a href="', language.href, '" lang="', language.code, '"', firstAriaCurrent, class, '>', icon, language.name, '</a>'] | join | safe -%}
            {%- if language.tooltip -%}<li>{{ tooltip({ "text": language.tooltip, "target": target, "id": tooltipID, "contentElement": "span", "trueTooltip": true }) }}</li>
            {%- else -%}<li>{{ target }}</li>{%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro languageSwitcherHeader(params) %}
<div class="language-switcher-header">
    <div class="container">
        <div class="overflow-menu overflow-menu--open-right">
            <button class="button-overflow-menu js-dropdown select-language-button" data-js-target="{{ params.overflowID | default('header-language')}}" aria-expanded="false" aria-controls="{{ params.overflowID | default('header-language')}}">
                {{icon_svg({"name":"language"})}}Dansk
            </button>
            <div class="overflow-menu-inner select-language-list collapsed" id="{{ params.overflowID | default('header-language')}}">
                <ul class='overflow-list'>
                    {%- for language in params.languages -%}
                    <li><a href="{{ language.href }}" lang="{{language.code}}"{%- if loop.first -%} aria-current="true"{%- endif -%}>{{language.name}}</a></li>
                    {% endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro languageSwitcherMobile(params) %}
<div class="language-switcher-mobile">
    <h3>Vælg sprog</h3>
    <ul>
        {%- for language in params.languages -%}
        <li><a href="{{ language.href }}" lang="{{language.code}}" {% if language.tooltip %}class="js-tooltip" data-tooltip="{{language.tooltip}}"{% endif %}{% if loop.first %} aria-current="true"{% endif %}>{% if loop.first %}<svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#check"></use></svg>{% endif %}{{language.name}}</a></li>
        {% endfor -%}
    </ul>
</div>
{% endmacro %}