// Core -------------- //
@use 'core/fonts';
@use 'core/base';
@use 'core/focus';
@use 'core/grid';
@use 'core/typography';

// Utilities------------//
@use 'core/utilities/background';
@use 'core/utilities/width';
@use 'core/utilities/textalign';
@use 'core/utilities/flex';
@use 'core/utilities/spacing';
@use 'core/utilities/position';
@use 'core/utilities/display';

// Elements -------------- //
// Styles basic HTML elements
@use 'elements/section';
@use 'elements/embed';
@use 'elements/figure';
@use 'elements/icons';
@use 'elements/inputs';
@use 'elements/list';
@use 'elements/page';
@use 'elements/forms';
@use 'elements/hr';

// Components -------------- //
@use 'components/accordions';
@use 'components/alerts';
@use 'components/anchorlinks';
@use 'components/back-link';
@use 'components/back-to-top';
@use 'components/badge';
@use 'components/breadcrumbs';
@use 'components/buttons';
@use 'components/cookie-message';
@use 'components/details';
@use 'components/date-input';
@use 'components/date-picker';
@use 'components/dropdown';
@use 'components/footer';
@use 'components/function-link';
@use 'components/header';
@use 'components/modal';
@use 'components/navigation-mobile';
@use 'components/navigation';
@use 'components/pagination';
@use 'components/toast';
@use 'components/search';
@use 'components/sidemenu';
@use 'components/language-switcher';
@use 'components/skipnav';
@use 'components/spinner';
@use 'components/step-indicator';
@use 'components/cards';
@use 'components/overflow-menu';
@use 'components/table';
@use 'components/textarea';
@use 'components/toggleswitch';
@use 'components/tooltip';
@use 'components/tabs';
@use 'components/tags';

// Print -------------- //
@use 'core/print';

// Custom elements
@use 'custom-elements/fds-accordion';
@use 'custom-elements/fds-accordion-group';
@use 'custom-elements/fds-input-wrapper';
@use 'custom-elements/fds-help-text';
@use 'custom-elements/fds-error-message';
@use 'custom-elements/fds-character-limit';
@use 'custom-elements/fds-checkbox';
@use 'custom-elements/fds-checkbox-group';
@use 'custom-elements/fds-radio-button';
@use 'custom-elements/fds-radio-button-group';